@font-face{
    font-family: 'roboto-regular';
    src: url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'roboto-light';
    src: url('/assets/fonts/Roboto-Light.ttf');
}

nav{
    top: 0px;
}

#banner{
    height: 200px;
    background-color: white;
    background-image: url("/assets/pictures/bannerEvent.png");
    background-size: 150%;
    background-position: center;
    display: grid;
    top: 0px;
    transition: height 1s, background-size 1s;
}

#bannerText{
    color: white;
    display: block;
    text-align: center;
    align-self: center;
    transition : font-size 1s;
}

#mainTitle{
    grid-row: 3;
    margin: 0px;
    padding: 0px;
    font-family: 'roboto-regular';
    font-size: 4em;
}

#content{
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: auto 1700px auto;
}

#footer{
    grid-column: 1/span 3;
    grid-row: 5;
}

.event{
    background: white;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

#sortBar{
    grid-column: 1/span 5;
    grid-row: 1;
}

#sortBar > p{
    margin: 0;
    padding-left: 40px;
    grid-row: 1;
    grid-column: 1;
    background: #161616;
    color: white;
    font-family: 'roboto-light';
    font-size: 3em;
}

.eventCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 40px 190px 40px;
    font-family: 'roboto-light';
    background: #e9e9e9;
}

.eventCard > p{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.eventName{
    grid-column: 1/span 2;
    grid-row: 1;
    padding-top: 10px;
    font-family: 'roboto-regular';
    font-size: 1.8em;
    overflow: hidden;
    text-align: center;
    color: white;
    background: #4e4e4e;
}
.eventName:hover{
    overflow: auto;
}

.eventDay{
    grid-column: 1;
    grid-row: 2;
    font-size: 1.2em;
    padding-top: 10px;
}

.eventHour{
    grid-column: 2;
    grid-row: 2;
    text-align: end;
    font-size: 1.2em;
    padding-top: 10px;
}

.eventDescription{
    grid-column: 1/span 2;
    grid-row: 3;
    border-top: 2px solid #4e4e4e;
    padding-top: 20px;
    overflow: hidden;
}
.eventDescription:hover{
    overflow: auto;
}

.eventPrice{
    grid-column: 1/span 2;
    grid-row: 5;
    font-size: 1.2em;
    border-top: 2px solid #4e4e4e;
    padding-top: 10px;
}

.eventButton{
    color: white;
    text-decoration: none;
    font-family: 'roboto-regular';
}

.goToEvent{
    grid-column: 1/span 2;
    grid-row: 6;
    color: white;
    background: #4e4e4e;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'roboto-regular';
    padding-left: 30px;
    padding-right: 30px;
    justify-self: center;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: background 0.4s, color 0.4s;
}

.goToEvent:hover{
    background: none;
    color: #4e4e4e;
}

.deleteEvent{
    grid-column: 2;
    grid-row: 7;
    font-size: 1em;
    width: 100%;
    text-align: center;
    background: rgb(204, 85, 85);
}

.editEvent{
    grid-column: 1;
    grid-row: 7;
    font-size: 1em;
    width: 100%;
    text-align: center;
    background: rgb(73, 102, 197);
}

#createNew{
    height: 100%;
    background: rgb(37, 176, 240);
    display: grid;
    color: white;
    text-decoration: none;
    transition: background 0.4s;
}

#createNew:hover{
    background: rgb(37, 108, 240);
}

#createNew > p{
    align-self: center;
    justify-self: center;
    margin: 0;
    font-size: 10em;
    font-family: 'roboto-regular';
}

.goBack{
    grid-row: 3;
    grid-column: 2;
    width: 100px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
    background: white;
    font-family: 'roboto-regular';
    transition: background 0.4s, color 0.4s;
    text-align: center;
}

.goBack:hover{
    color: white;
    background: #4e4e4e;
}