{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/admin/styleAdmin.css">
    <link rel="stylesheet" href="/assets/main/category/styleCategoryForm.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Administration</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="pageContent">
        <h2 id="action">Modifier une Catégorie</h2>

        {{ include('main/category/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="goBack" href="{{ path('admin_dashboard') }}">Retour</a>
    </div>
{% endblock %}
