{% extends 'base.html.twig' %}

{% block title %}Edit Gallery{% endblock %}

{% block body %}
    <h1>Edit Gallery</h1>

    {{ include('main/gallery/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gallery_index') }}">back to list</a>

    {{ include('main/gallery/_delete_form.html.twig') }}
{% endblock %}
