@font-face{
    font-family: 'roboto-regular';
    src: url('/assets/fonts/Roboto-Regular.ttf');
}

body{
    margin: 0px;
    padding: 0px;
}

.banner{
    height: 560px;
    background-color: white;
    /* 24x7 */
    background-image: url("https://via.placeholder.com/2160x630");
    background-size : 100%;
    background-position:center;
}

#mainTitle{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #161616;
    position: sticky;
    z-index: 99;
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    */
}

#navList{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto 200px 200px;
}

.navElement a{
    text-decoration: none;
    color: white;
    transition: background 0.4s;
    text-align: center;
    display: grid;
    align-content: center;
    border-left: 2px solid grey;
}

.navElement a:visited{
    text-decoration: none;
    color: white;
}

.navElement a:hover, .navElement a:visited:hover{
    text-decoration: none;
    color: #161616;
    background: white;
}

.navElement{
    font-family: 'roboto-regular';
    font-size: 1.3em;
    margin: 0px;
    list-style: none;
    display:grid;
    height: 50px;
}

#search{
    justify-self: end;
    align-self: center;
    width: 300px;
    padding-right: 20px;
}

#search form{
    display: grid;
    grid-template-columns: 260px 40px;
    grid-template-rows: auto;
}

#search input{
    -webkit-appearance: none;
    border: none;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

#search button{
    -webkit-appearance: none;
    background: white;
    border: none;
    border-left: 1px solid grey;
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    width: 40px;
    height: 40px;
    align-self:center;
}
