{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/event/styleEvent.css">
    <link rel="stylesheet" href="/assets/main/event/styleEventForm.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Évènements</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="pageContent">
        <h2 id="action">Créer un Évènement</h2>

        {{ include('main/event/_form.html.twig') }}

        <a class="goBack" href="{{ path('event_index') }}">Retour</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/main/event/eventForm.js"></script>
{% endblock %}