{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/event/styleEvent.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Évènements</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('main/event/_form.html.twig') }}

    <a href="{{ path('event_index') }}">back to list</a>
{% endblock %}
