{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/admin/styleAdmin.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Administration</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<div><a href="{{ path('admin_users') }}">Utilisateurs</a></div>
<div><a href="{{ path('category_index') }}">Catégories</a></div>
{% endblock %}