{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/admin/styleAdmin.css">
    <link rel="stylesheet" href="/assets/admin/styleAdminUsers.css">


{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Administration</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="sortBar">
        <p>Trier par: </p>
        <select id="sortBy">
            <option value="lastName">Nom</option>
            <option value="firstName">Prénom</option>
            <option value="campus">Campus</option>
            <option value="gender">Genre</option>
            <option value="association">Association</option>
            <option value="role">Role</option>
        </select>
        <p>Ordre: </p>
        <select id="orderBy">
            <option value="asc">Croissant</option>
            <option value="desc">Décroissant</option>
        </select>
    </div>

    <table id="table" class="display">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Campus</th>
            <th>Gender</th>
            <th>Association</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>



{% endblock %}

{% block javascripts %}
    <script src="/assets/admin/adminUsers.js"></script>
{% endblock %}


