{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/admin/styleAdmin.css">
    <link rel="stylesheet" href="/assets/admin/styleAdminUsers.css">


{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Administration</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<div id="content">
    <div class="dashboard">
        <div id="sortBar">
            <p id="sort">Trier par : </p>
            <select id="sortBy">
                <option value="lastName" selected>Nom</option>
                <option value="firstName">Prénom</option>
                <option value="campus">Campus</option>
                <option value="gender">Genre</option>
                <option value="association">Association</option>
                <option value="role">Rôle</option>
            </select>
            <p id="order">Ordre : </p>
            <select id="orderBy">
                <option value="asc" selected>Croissant</option>
                <option value="desc">Décroissant</option>
            </select>
        </div>

        <table id="table">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th> 
                    <th>Campus</th>
                    <th>Genre</th>
                    <th>Association</th>
                    <th>Rôle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/admin/adminUsers.js"></script>
{% endblock %}


