{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/shop/styleShop.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Boutique</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<div id="content">
        <div id="sortBar">
            <p id="sort">Trier par : </p>
            <select id="sortBy">
                <option value="name" selected>Nom</option>
                <option value="price">Prix</option>
                <option value="category">Catégorie</option>
            </select>
            <p id="order">Ordre : </p>
            <select id="orderBy">
                <option value="asc" selected>Croissant</option>
                <option value="desc">Décroissant</option>
            </select>
        </div>
        <div id="filterBar">
            <p id="filter">Filtrer par : </p>
            <p id="paramCategory">catégorie : </p>
            <select id="category">
                <option value="" selected></option>
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <p id="paramPrice">prix : </p>
            <p id="minPrice">min-</p>
            <input type="number" id="min">
            <p id="maxPrice">max-</p>
            <input type="number" id="max">
        </div>
    <div id="shop">
        {% if is_granted('ROLE_BDE') %}
        <a id="createNew" href="{{ path('product_new') }}">
            <p>+</p>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/main/shop/shop.js"></script>
{% endblock %}