{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/shop/styleShop.css">
    <link rel="stylesheet" href="/assets/main/shop/styleShopForm.css">
{% endblock %}
{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Boutique</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <h1>Create new Product</h1>

    {{ include('main/product/_form.html.twig') }}

    <a href="{{ path('shop') }}">back to list</a>
{% endblock %}
