@font-face{
    font-family: 'roboto-regular';
    src: url('/assets/fonts/Roboto-Regular.ttf');
}

#banner{
    height: 560px;
    position: sticky;
    background-color: white;
    background-image: url("/assets/pictures/banner.png");
    background-size: 150%;
    background-position: center;
    display: grid;
    top: 0px;
    transition: height 1s, background-size 1s;
}

#bannerText{
    color: white;
    display: block;
    text-align: center;
    align-self: center;
    transition : font-size 1s;
}

.fa-wordpress{
    grid-row: 2;
    font-size: 8em;
    text-align: center;
    align-self: end;
}

#mainTitle{
    grid-row: 3;
    margin: 0px;
    padding: 0px;
    font-family: 'roboto-regular';
    font-size: 3em;
    
}

#bde{
    font-size: 2em;
}

#content{
    background: grey;
    height: 2000px;
}