{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/association/styleAssociation.css">
    <link rel="stylesheet" href="/assets/main/association/styleAssociationForm.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Associations</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="pageContent">
        <h2 id="action">Créer une Association</h2>

        {{ include('main/association/_form.html.twig') }}

        <a class="goBack" href="{{ path('association_index') }}">Retour</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/main/association/associationForm.js"></script>
{% endblock %}
