{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/main/association/styleAssociation.css">
{% endblock %}

{% block header %}
    <div id="banner">
        <div id="bannerText">
            <h1 id="mainTitle">Associations</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <h1>Create new Association</h1>

    {{ include('main/association/_form.html.twig') }}

    <a href="{{ path('association_index') }}">back to list</a>
{% endblock %}
